@font-face {
	font-family: 'HindSiliguri';
	src: url('../fonts/HindSiliguri-Bold.eot');
	src: local('☺'), url('../fonts/HindSiliguri-Bold.woff') format('woff'), url('../fonts/HindSiliguri-Bold.ttf') format('truetype'), url('../fonts/HindSiliguri-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'HindSiliguri';
	src: url('../fonts/HindSiliguri-Light.eot');
	src: local('☺'), url('../fonts/HindSiliguri-Light.woff') format('woff'), url('../fonts/HindSiliguri-Light.ttf') format('truetype'), url('../fonts/HindSiliguri-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HindSiliguri';
	src: url('../fonts/HindSiliguri-Medium.eot');
	src: local('☺'), url('../fonts/HindSiliguri-Medium.woff') format('woff'), url('../fonts/HindSiliguri-Medium.ttf') format('truetype'), url('../fonts/HindSiliguri-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HindSiliguri';
	src: url('../fonts/HindSiliguri-Regular.eot');
	src: local('☺'), url('../fonts/HindSiliguri-Regular.woff') format('woff'), url('../fonts/HindSiliguri-Regular.ttf') format('truetype'), url('../fonts/HindSiliguri-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HindSiliguri';
	src: url('../fonts/HindSiliguri-SemiBold.eot');
	src: local('☺'), url('../fonts/HindSiliguri-SemiBold.woff') format('woff'), url('../fonts/HindSiliguri-SemiBold.ttf') format('truetype'), url('../fonts/HindSiliguri-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Lucida Grande';
	src: url('../fonts/ofont.ru_Lucida Grande.eot');
	src: local('☺'), url('../fonts/ofont.ru_Lucida Grande.woff') format('woff'), url('../fonts/ofont.ru_Lucida Grande.ttf') format('truetype'), url('../fonts/ofont.ru_Lucida Grande.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}