@import '_vars';
@import '_fonts';
@import '_blocks';

.header {
  background: url('../img/bg.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  &-top--home {
    background: url('../img/bg.jpg') top;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
  }
  &__content {
    &-inner {
      margin-top: 153px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-title {
      width: 420px;
      @include text(28px, 600, 37px);
    }
    &-description {
      margin-top: 24px;
      @include text(17px, 400, 26px);
    }
    &-buttons-inner {
      height: 45px;
      margin-top: 20px;
    }
    &-dark-button {
      margin-right: 18px;
    }
  }
}

.about {
  padding-top: 80px;
  &__video-img {
    width: 860px;
    height: 592px;
  }
  &__video {
    position: relative;
    &::before {
      display: block;
      content: '';
      background-image: url('../img/svg/a-icon-play.svg');
      background-size: 72px 72px;
      height: 72px;
      width: 72px;
      position: absolute;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      z-index: 1;
    }
  }
  &__decoration {
    @include decoration(91px);
  }
  &__header {
    margin-bottom: 60px;
  }
  &__content {
    display: flex;
  }
  &__item-inner {
    padding-left: 4px !important;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 183px;
    padding-top: 20px;
    border-radius: 5px;
    position: relative;
    &-corner {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__item--1 {
    background: #ffb0b0 linear-gradient(108.56deg, rgba(230, 246, 65, 0.5) 0%, rgba(41, 252, 154, 0.5) 100%);
    margin-bottom: 20px;
  }
  &__item--2 {
    transform: scaleX(-1);
    background: #b0d1ff linear-gradient(236.77deg, rgba(247, 247, 247, 0.5) 0%, rgba(35, 86, 255, 0.5) 100%);
    margin-bottom: 20px;
  }
  &__item--3 {
    background: #ffb0b0 linear-gradient(236.42deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 9, 9, 0.5) 100%);
  }
  &__item-title {
    @include text(17px, 400, 28px);
    margin-top: 18px;
  }
  &__item-title--reverse {
    transform: scaleX(-1);
  }
  &__item-logo--reverse {
    transform: scaleX(-1);
  }
}

.latest-post {
  padding-top: 80px;
  &__header {
    margin: 0 auto;
  }
  &__content {
    margin-top: 60px;
  }
  &__decoration {
    @include decoration(123px);
  }
  &__item-title {
    @include text(20px, 500, 32px);
    margin: 20px 0px 8px 0px;
  }
  &__item-description {
    @include text(15px, 400, 24px);
    margin-bottom: 20px;
  }
}

.latest-portfolio {
  padding-top: 80px;
  padding-bottom: 60px;
  &__arrows-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__item {
    &-icons {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      right: 0;
      display: none;
      img {
        padding: 22px;
      }
    }
    &-inner {
      cursor: url('../img/svg/hand-cursor-white.svg'), auto;
      height: 243px;
      width: 360px;
      position: relative;
      background-image: url('../img/bg img2.png');
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        .latest-portfolio__item-icons {
          display: flex;
        }
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 5px 10px 0 rgba(109, 109, 109, 0.5);
      }
      &--1 {
        background-image: url('../img/bg img1.png');
        background-repeat: no-repeat;
      }
      &--2 {
        background-image: url('../img/bg img2.png');
        background-repeat: no-repeat;
      }
      &--3 {
        background-image: url('../img/bg img3.png');
        background-repeat: no-repeat;
      }
    }
  }
  &__header {
    margin: 0 auto;
  }
  &__content {
    margin: 60px 0px 40px 0px;
    &-description {
      color: #ffffff;
      font-family: $main-font;
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 25px;
      text-align: center;
    }
    &-title {
      padding-top: 10px;
      color: #ffffff;
      font-family: $main-font;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 32px;
      text-align: center;
    }
  }
  &__decoration {
    @include decoration(158px);
  }
  &__footer {
    &-button-inner {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
    &-button {
      margin: 0 auto;
    }
  }
}

.reviews {
  height: 529px;
  background-image: url('../img/Bg testimonial.png');
  &__header {
    margin: 0 auto;
    padding-top: 80px;
  }
  &__decoration {
    @include decoration(123px);
  }
  &__content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 38px;
  }
  &__content-inner {
    display: flex;
    margin: 0px 30px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 8px 25px 0 rgba(109, 109, 109, 0.5);
  }
  &__description-inner {
    border-radius: 5px 0px 0px 5px;
    width: 280px;
    background-color: #494a4d;
  }
  &__description {
    color: #ffffff;
    font-family: $main-font;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    margin: 55px 40px 38px 48px;
    position: relative;
    &:before {
      content: '“';
      position: absolute;
      top: -23px;
      left: -15px;
      color: #ffffff;
      font-family: $main-font;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 45px;
    }
  }
  &__autor {
    color: #ffffff;
    font-family: $main-font;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
    margin-left: 48px;
  }
}

.contact {
  padding-top: 80px;
  &__header {
    margin: 0 auto;
  }
  &__decoration {
    @include decoration(110px);
  }
  &__icons-box {
    margin: 83px 25px 17px 5px;
  }
}

.next-step {
  margin-bottom: 70px;
  background-color: #f8f8f8;
  &__form-block {
    margin-top: -65px;
  }
  &__text {
    margin-top: 105px;
  }
  &__header {
    @include text(24px, 600, 39px);
    margin-bottom: 40px;
  }
  &__title {
    display: flex;
    align-items: center;
    &-text {
      @include text(15px, 600, 26px);
    }
    &-oval {
      margin-right: 8px;
      z-index: 1;
    }
  }
  &__description {
    color: #4d4949;
    font-family: $main-font;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 26px;
    padding: 5px 0px 33px 35px;
  }
  &__item--last {
    border: none !important;
    &:before {
      content: '';
      border-left: none !important;
    }
  }
  &__item {
    // border-left: 1px solid #DDDDDD;
    margin-left: 8px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 95%;
      border-left: 1px solid #dddddd;
      left: 0;
      top: 20px;
      z-index: 0;
    }
    &-inner {
      margin-left: -8px;
    }
  }
}

.form-block {
  &__inner {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 8px 25px 0 #b7b7b7;
  }
  &__header {
    background-color: #f8f8f8;
    display: flex;
    &-icon {
      padding: 10px 0px 10px 20px;
    }
    &-description {
      @include text(17px, 400, 21px);
      margin: 13px 70px 0px 15px;
    }
  }
  &__content {
    display: flex;
  }
  &__left-content {
    margin-top: 30px;
    margin-left: 30px;
  }
  &__form-description {
    @include text(17px, 400, 28px);
    margin-top: 35px;
    margin-right: 20px;
  }
}

.footer--home {
  position: fixed;
  bottom: 0;
  z-index: 2;
  margin-top: 50px;
}
